* {
    margin: 0;
}

#header-menu {
    background-color: #3232fc;
    height: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: bold;
}

#navbar-header {
    padding-left: 0;
}

.navbar-ul {
    display: flex;
    list-style: none;
}

#logo {
    max-height: 35px;
}

.header-item {
    margin: 5px;
    display: flex;
    align-items: center;
}