<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="../css/furniture.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <nav id="header-menu">
            <ul class="navbar-ul">
                <li id="main-item"><span id="rbr">RBR</span><span id="store">Store</span></li>
            </ul>
            <form id="search-form">
                <input id="search-input" type="text" placeholder="O que você está procurando?">
            </form>
            <ul id="navbar-main" class="navbar-ul">
                <li class="header-item"><a href="#header">Home</a></li>
                <li class="header-item"><a href="">About Us</a></li>
                <li class="header-item"><a href="">Feature</a></li>
                <li class="header-item"><a href="">Blog</a></li>
                <li class="header-item"><a href="login.html"><i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i></a></li>
                <li class="header-item"><a href=""><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a></li>
            </ul>
        </nav>
        <section id="header-section">
            <div id="header-section-description">
                <div>
                    <h1><span id="Red">Descubra o Estilo</span><br><span id="Bull">Sinta a Paixão</span><br><span id="Racing">Viva a Velocidade</span></h1>
                    <h5>Cada produto reflete o espírito de alta performance, dedicação e entusiasmo que fazem da Red Bull Racing uma lenda nas pistas.</h5>
                </div>
                <a href="#main">Acelerar</a>
            </div>
            <div id="header-section-models">
                <img id="model-1" src="../../img/2408-clp-rbr-cat-4x-XXXL-1-removebg.png" alt="red bull racing shirt models">
            </div>
        </section>
    </header>
    <main id="main">
        <section id="categories">
            <a href="">Roupas &nbsp;<i class="fa-solid fa-shirt"></i></a>
            <a href="">Calçados &nbsp;<i class="fa-solid fa-shoe-prints"></i></a>
            <a href="">Acessórios &nbsp;<i class="fa-solid fa-headphones"></i></a>
            <a href="">Quadros &nbsp;<i class="fa-solid fa-chalkboard"></i></a>
        </section>

        <section id="discounts-text">
            <i class="fa-solid fa-clock" style="color: #ffffff;"><span id=""> &nbsp; OFERTAS RELÂMPAGO </span></i>
            <span id="expiration-date"> OFERTA VÁLIDA POR: 11H: 33M</span>
        </section>

        <section id="discounts-products">
            <div class="product-discount-card">
                <i class="fa-solid fa-clock fa-2xl" style="color: #001d46; position: absolute; margin-left: 15px; margin-top: 30px;"></i>
                <img class="product-img" src="../../img/shirt.webp">
                <div class="discount">
                    <span class="span-discount">-33% OFF</span>
                </div>
                <div class="card-body">
                    <span class="product-name">Camiseta Red Bull Racing Preta</span>
                    <del>R$199,90</del><br>
                    <span class="product-discount-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-discount-card">
                <i class="fa-solid fa-clock fa-2xl" style="color: #001d46; position: absolute; margin-left: 15px; margin-top: 30px; z-index: 1;"></i>
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="discount">
                    <span class="span-discount">-33% OFF</span>
                </div>
                <div class="card-body">
                    <span class="product-name">White Red Bull Racing Shirt</span>
                    <del>R$199,90</del><br>
                    <span class="product-discount-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-discount-card">
                <i class="fa-solid fa-clock fa-2xl" style="color: #001d46; position: absolute; margin-left: 15px; margin-top: 30px; z-index: 1;"></i>
                <img class="product-img" src="../../img/miniature.jpg">
                <div class="discount">
                    <span class="span-discount">-11% OFF</span>
                </div>
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <del>R$199,90</del><br>
                    <span class="product-discount-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-discount-card">
                <i class="fa-solid fa-clock fa-2xl" style="color: #001d46; position: absolute; margin-left: 15px; margin-top: 30px;"></i>
                <img class="product-img" src="../../img/shoes.avif">
                <div class="discount">
                    <span class="span-discount">-33% OFF</span>
                </div>
                <div class="card-body">
                    <span class="product-name">Tênis Max Verstappen Collection</span>
                    <del>R$199,90</del><br>
                    <span class="product-discount-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
        </section>
        <section id="text-releases">
            <h2>
                Lançamentos
            </h2>
        </section>
        <section id="releases">
            <div class="product-card">
                <img class="product-img" src="../../img/cap.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
            <div class="product-card">
                <img class="product-img" src="../../img/shirt2.webp">
                <div class="card-body">
                    <span class="product-name">RB20 Miniatura - 2024</span>
                    <span class="product-price">R$99,00</span>
                    <span class="price-options">Ou 5x de R$24,99</span>
                </div>
            </div>
        </section>
        <section id="special-offer">

        </section>
        <section id="text-releases">
            <h2>
                Coleções Exclusivas
            </h2>
        </section>
        <section id="driver-collections">
            <div class="driver-div">
                <a href=""><img class="driver-img" src="../../img/testdriver1.jpg"></a>
            </div>
            <div class="driver-div">
                <a href=""><img class="driver-img" src="../../img/testdriver2.jpg"></a>
            </div>
        </section>
    </main>
    <footer>
        <section id="advantages">
            <ul id="footer-ul">
                <li class="footer-li">
                    <i class="fa-solid fa-truck fa-2xl" style="color: #fff;"></i> &nbsp;
                    <p>
                        <span class="advantages-title"> Frete Grátis</span><br>
                        <span> Entrega para Todo Brasil</span>
                    </p>
                </li>
                <li class="footer-li">
                    <i class="fa-regular fa-clock fa-2xl" style="color: #ffffff;"></i>
                    <p>
                        <span class="advantages-title"> Entrega Expressa </span><br>
                        <span> Máximo de 2 dias úteis </span>
                    </p>
                </li>
                <li class="footer-li">
                    <i class="fa-regular fa-credit-card fa-2xl" style="color: #ffffff;"></i>
                    <p>
                        <span class="advantages-title"> Até 10x Sem Juros </span><br>
                        <span> Para Compras acima de R$99,90 </span>
                    </p>
                </li>
            </ul>
        </section>
        <section id="footer-information">
            <ul class="information-ul">
                <li class="info-title"><span id="rbr">RBR</span><span id="store">Store</span></li>
                <li class="info-item"><span id="info-description">Somos apaixonados pela Red Bull Racing e por uma vida estilosa e buscamos transmitir isso por meio dos nossos produtos. </span></li>
            </ul>
            <ul class="information-ul">
                <li class="info-title">Ajuda</li>
                <li class="info-item"><a href="AAA">Trocas e Devoluções</a></li>
                <li class="info-item"><a href="AAA">Pagamentos</a></li>
                <li class="info-item"><a href="AAA">Cancelamentos</a></li>
                <li class="info-item"><a href="AAA"></a></li>
            </ul>
            <ul class="information-ul">
                <li class="info-title">Receba nossas ofertas no E-mail</li>
                <form id="footer-form">    
                    <input class="email-input" type="email" placeholder="Seu melhor e-mail aqui">
                    <button id="submit-email" type="submit"><i class="fa-solid fa-arrow-right fa-lg" style="color: #ffffff;"></i></button>
                </form>
            </ul>
                        <ul class="information-ul">
                <li class="info-title">Contato</li>
                <ul id="contact-ul">
                    <li class="info-item"><a href="AAA"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></a></li>
                    <li class="info-item"><a href="AAA"><i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i> </a></li>
                    <li class="info-item"><a href="AAA"><i class="fa-solid fa-mobile-screen fa-xl" style="color: #ffffff;"></i> </a></li>
                    <li class="info-item"><a href="AAA"><i class="fa-regular fa-envelope fa-2xl" style="color: #ffffff;"></i></a></li>         
                </ul>
            </ul>

        </section>
        <section id="about">
            <h4>&copy; 2025 - Gustavo Santos Schneider</h4>
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/15c8bda6b4.js" crossorigin="anonymous"></script>
</body>
</html>