<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="../css/furniture.css">
</head>
<body>
    <header>
        <nav id="header-menu">
            <ul class="navbar-ul">
                <li id="main-item"><span id="rbr">RBR</span><span id="store">Store</span></li>
            </ul>
            <ul id="navbar-main" class="navbar-ul">
                <li class="header-item"><a href="">Home</a></li>
                <li class="header-item"><a href="">About Us</a></li>
                <li class="header-item"><a href="">Feature</a></li>
                <li class="header-item"><a href="">Blog</a></li>
                <li class="header-item"><a href="">Contact Us</a></li>
                <li class="header-item"><button>Log in</button></li>
            </ul>
        </nav>
        <section id="header-section">
            <div id="header-section-description">
                <h1><span id="Red">Velocidade</span><span id="Bull">Paixão</span><span id="Racing">Estilo</span></h1>
                <h2> A loja definitiva para quem vive a emoção da Fórmula 1 e a ousadia da Red Bull Racing</h2>

            </div>
            <div id="header-section-models">
                <img id="model-1" src="../../img/2408-clp-rbr-cat-4x-XXXL-1-removebg.png" alt="red bull racing shirt models">
            </div>
        </section>
    </header>
    <main>
        <h1> Teste </h1>
    </main>
    <footer>

    </footer>
</body>
</html>